doctype html
script(src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/2.0.3/p5.min.js")
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
body
    style.
        .Div1 {
            position: fixed;
            inset: 0;
            width: 100vw;
            height: 100vh;
            margin: 0;
            background-color: rgba(172, 240, 240, 1);
            text-align: center;
        }
    .Div1 
        h2 This is a heading in a div element
        p This is some text in a div element 
